body {
    padding: 15px;
    line-height: 160%;
}

p {
    font-family: neuton, serif;
    font-size: 20px;

}

h1, h2 {
    font-family: source-sans-pro, sans-serif;
}

.content > div {
    padding: 0px 50px;
}

a {
    color: #33A0CE;
    text-decoration: none;
}

a:hover {
    color: #0088C3;
}

.sidebar {
    line-height: 100%;
}

.sidebar a {
    color: black;
}

.sidebar .photo {
    text-align: center;
}

.sidebar .title {
    margin: 15px auto;
    text-align: center;
}

.sidebar .title span {
    font-family: source-sans-pro, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: black;
    line-height: 0.8em;
    font-size: 18px;
}

.sidebar .title span.fname {
    font-weight: lighter;
}

.sidebar .title span.lname {
    width: 100%;
    font-weight: bold;
}

.sidebar .social {
    text-align: center;
    line-height: 1em;
    margin: 25px auto;
    font-size: 18px;
    letter-spacing: 5px;
}

.sidebar .menu {
    list-style: none;
}

.sidebar ul.menu {
    padding: 0px;
}

.sidebar .menu li {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.posts ul {
    padding: 0px;    
}

.posts li {
    list-style: none;
}

.posts li .date {
    font-family: source-sans-pro, sans-serif;
    float: right;
    text-transform: uppercase;
    font-weight: light;
    color: #99CFE7;
}

.posts li .title {
    font-family: source-sans-pro, sans-serif;
    font-size: 20px;
    font-weight: regular;
}

.posts li .title:hover {
    color: #0088C3;
 }

 .post_single .meta {
    margin: 0px;
 }

 .post_single p {
    font-size: 20px;
    line-height: 160%;
 }
