body {
    padding: 15px;
}

.content > div {
    padding: 0px 0px 0px 15px;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.sidebar a:hover {
    color: #0088C3;
}

.sidebar .photo {
    text-align: center;
}

.sidebar .title {
    margin: 15px auto;
    text-align: center;
}

.sidebar .title span {
    font-family: source-sans-pro, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: black;
    line-height: 0.8em;
    font-size: 18px;
}

.sidebar .title span.fname {
    font-weight: lighter;
}

.sidebar .title span.lname {
    width: 100%;
    font-weight: bold;
}

.sidebar .social {
    text-align: center;
    line-height: 1em;
    margin: 25px auto;
    font-size: 18px;
    letter-spacing: 5px;
}

.sidebar .menu {
    list-style: none;
}

.sidebar ul.menu {
    padding: 0px;
}

.sidebar .menu li {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.posts a {

}

.posts > h1 {
    margin-top: 0px;
}

.posts ul {
    padding: 0px;    
}

.posts li {
    list-style: none;
}

