body {
    padding: 15px;
    line-height: 160%;
    font-size: 13pt;
}

p {
    font-family: serif;
    font-size: 1em;
}

h1 {
    font-size: 2.37em;
}

a {
    color: #33A0CE;
    text-decoration: none;
}

a:hover {
    color: #0088C3;
}

.sidebar .photo {
    width: 75%;
    margin: 0px auto;
}

.sidebar .photo img {
    width: 100%;
}

.sidebar a {
    color: black;
}

.sidebar .photo {
    text-align: center;
}

.sidebar .title {
    margin: 15px auto;
    text-align: center;
    line-height: 1em;
}

.sidebar .title span {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 1.77em;
}

.sidebar .title span.fname {
    font-weight: lighter;
}

.sidebar .title span.lname {
    width: 100%;
    font-weight: bold;
}

.sidebar .social {
    text-align: center;
    margin: 25px auto;
    font-size: 1.33em;
    letter-spacing: 5px;
}

.sidebar .menu {
    list-style: none;
}

.sidebar ul.menu {
    padding: 0px;
}

.sidebar .menu li {
    font-weight: bold;
    font-size: 1.33em;
    text-align: center;
}

.posts ul {
    padding: 0px;    
}

.posts li {
    list-style: none;
}

.posts li .date {
    font-family: sans-serif;
    float: right;
    text-transform: uppercase;
    font-weight: light;
    color: #99CFE7;
}

.posts li .title {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: regular;
}

.posts li .title:hover {
    color: #0088C3;
 }

 .post_single .meta {
    margin: 0px;
    font-size: 1.33em;
 }

code {
    font-family: "Source Code Pro";
    font-size: .75em;
}
